@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #313131;
}

.cabecalho {
    height: max-content;
    padding: 16px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.cabecalho-titulo {
    font-size: 32px;
    letter-spacing: -1px;
    color: #f7f7f7;
}

.cabecalho-nav {
    display: flex;
    gap: 16px;
    list-style: none;
    margin-right: 16px;
}

.cabecalho-nav li a{
    color: #f7f7f7;
    font-size: 20px;
    text-decoration: none;
}

.cabecalho-nav li a:hover {
    text-decoration: underline;
    cursor: pointer;
}

main {
    width: 1000px;
    margin: auto;
    padding: 40px;
    background-color: #252525;
    color: #f7f7f7;
}

.questoesContainer {
    width: 100%;
    height: max-content;
    margin-bottom: 32px;
    padding: 16px;
}

.titulo {
    font-size: 22px;
    margin-bottom: 8px;
}

.enunciado {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.gabarito {
    width: max-content;
    display: inline-block;
    border: 1px solid #f7f7f7;
    color: #f7f7f7;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin-top: 16px;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
}

.off {
    display: none;
}

.on {
    display: inline-block;
}



@media (max-width: 450px) {
    .cabecalho {
        width: 100%;
        height: 96px;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 16px;
    }

    .cabecalho-titulo {
        font-size: 26;
    }

    .cabecalho-nav {
        margin: 4px 0px 0px 0px;
        gap: 8px;
    }

    main {
        width: 100%;
        height: max-content;
        margin: 0;
        padding: 40px 5px 12px 5px;
        background-color: #252525;
        color: #f7f7f7;
    }

    .questoesContainer {
        height: max-content;
        margin-bottom: 56px;
        padding: 4px;
    }

    .titulo {
        font-size: 26px;
        margin-bottom: 16px;
    }

    .enunciado {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 24px;
        line-height: 40px;
    }

    .gabarito {
        font-size: 18px;
        max-width: 300px;
        line-height: 32px;
        margin-top: 20px;
        padding: 8px;
    }
}